
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    /* background-color: aquamarine;
    position: relative;
    padding-bottom: -16px; */
}




header {
    /* height: 6.25rem; */
    display: flex;
    grid-template-columns: 5% auto auto 5%;
    padding: 0.625rem 0rem;
    background-color: rgb(119, 240, 240);
    justify-content: space-between;
    header div img {
        height: 4.625rem;
        margin: 0.313rem;
    }
    header .nave {
        margin-top: 1.675rem;
        font-size: 1rem;
        /* width: 855px; */
        display: flex;
        justify-content: flex-end;
    }
    header div a {
        margin-inline: 5px;
        letter-spacing: 0.01px;
        word-spacing: 5px;
        display: inline;
        text-decoration: none;
        color: white;
        padding-inline-end: auto;
    }
}


.name {
    display: flex;
    height: 0rem;
    margin-bottom: -1rem;
    justify-content: space-around;
}



/* INDEX */

.gridIndex {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-columns: max-content;
    grid-template-areas: 50% 50%;
    justify-content: space-around;
    
}


.tarjetas {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* line-height: 1px; */
    /* text-align: center; */
    width: 90wp;
    margin: 0 auto;
    background-color: rgb(33, 157, 189);
    padding: 1rem;
    padding-top: 3rem;
    border-radius: 0.313rem;
    /* align-items: center; */
    justify-items: center;
}

.bdc .tarjetas .card{
    background-color: aliceblue;
    width: 10.875rem;
    height: 17.500rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 20.125rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 1.25rem;
    text-align: center;
    transition: all 0.25s;
}

 .bdc .tarjetas .card:hover{
    transform: translateY(-0.938rem);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    
    
}

.bdc .tarjetas .card img{
    width: 10rem; /* 220px */
    height: 10rem;/* 220px */
}


.bdc .tarjetas .card h4{
    font-weight: 1000;
    font-size: 1rem;
}

.bdc .tarjetas .card p{
    padding: 0 1rem;
    font-size: 10px;
    font-weight: 300;
    cursor: default;
}

.bdc .tarjetas .card .price {
    height: 56px;
    display: flex;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
    color: #e5ff00;
    margin-top: -1.2rem;
    /* margin-right: 1rem; */  /* animation */
    transition: all 0.25s;
    cursor: default;
    justify-content: center;
}


.bdc .tarjetas .card .cart {
    width: 173px;
    height: 278px;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 8px;
    font-size: 30px;
    color: rgb(253 0 0);
    position: absolute;
    /* cursor: default; */
    transition: all 0.50s;
    text-decoration: none;
    opacity: 0%;
    /* margin-right: -279px; */
    /* overflow-anchor: none; */
}



.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 1.4rem;
    /* bottom: 12px; */
    margin-bottom: 20px;
}

.bdc .tarjetas .card .cart:hover {
    transform: translateX(4.062000000000001rem);
    opacity: 100%;
    
}

/* PAGINA DE REGISTRO */

.fieldsetContenedor {
    width: 400px;
    margin: auto;
    display: flex;
    /* padding-block-start: 0.35em; */
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    /* padding-block-end: 0.625em; */
    background-color: lightskyblue;
    flex-direction: column;
    align-items: flex-start;
}


.sendRegistro .holderRegistro {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    background-color: skyblue;
}
.holder {
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    border: 5px solid rgb(0, 110, 255);
    border-radius: 3px;
    margin-top: 3px;
}



.radioBottoms {
    display: inline;
    width: 12rem;
    height: 1rem;
}
.generoText {
    justify-content: flex-start;
    display: flex;
}
.circulos {
    width: 18.75rem;
}

.fechaDeNacimiento {
    display: inline;
    width: 12rem;
    height: 1rem;
}

.password {
    display: block;
    width: 12rem;
    height: 3rem;
    margin: auto;
    margin-top: -1rem;
}

.terminosCondiciones {
    display: flex;
    width: 23rem;
    height: 2rem;
    margin-top: 1rem;
    flex-direction: row;
    align-items: baseline;
}

.sendBottom {
    display: block;
    width: 3rem;
    height: 3rem;
    margin: auto;
    margin-top: 1rem;
}

/* Mi Carrito */
section .sinCompras {
    display: grid;
    grid-template-columns: 10% auto 10%;
    height: 100vh;
    justify-items: center;

}
section .sinCompras .sinComprasText {
    width: 100%;
    height: 100vh;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: skyblue;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;

}
section .sinCompras .sinComprasText .texto {
    width: 19rem;
    height: auto;
    margin-top: 13rem;
}

/* CUENTANOS TU EXPERIENCIA */
.contenidoExperiencia {
    width: 18.75rem;
    height: 136px;
    display: block;
    justify-content: space-evenly;
    margin: auto;
}

/* CATEGORIAS */
.categorias {
    width: 18.75rem;
    height: 136px;
    display: block;
    justify-content: space-evenly;
    margin: auto;

}
.bcColor {
    width:100%;
    height: 100vh;
    background-color: skyblue;

}
 .form-control {
    margin-top: 10px;
 }













/* Footer*/
.pie-pagina{
    width: 100%;
    background-color: #6dc2f6ff;
    bottom: 0px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 30px 0px;
    position: relative;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;

}
.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 20px;
    font-size: 23px;
    
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

/* ICONOS */

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 5px;
    background-color: aqua;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: black;
}
@media screen and (max-width:990px) {
    header {
        display: flex;
        padding: -1rem;
        /* margin-top: -20px; */
        /* grid-template-columns: 100%; */
        /* grid-auto-rows: 3rem; */
        /* height: 7.25rem; */
        /* justify-items: center; */
        background-color: #ffd800;
        align-items: center;
        flex-direction: column;
        }


}

@media screen and (max-width:990px) {
    section .sinCompras .sinComprasText {
        display: grid;
        grid-template-columns: 100%;
    }
    
}
@media screen and (max-width:990px) {
    section .sinCompras {
        display: grid;
        grid-template-columns: 100%;

    }
}
@media screen and (max-width:800px) { /* t */
    
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        padding: 40px 0px;
    }
    .pie-pagina .grupo-1 .box {
        margin-left: 30px;
    }
}
 

 
 @media screen and (max-width:1720px) {
        .tarjetas {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            width: 100%;
            margin: 0 auto;
        }
    }   

 

@media screen and (max-width:1030px) {  /* cambio a menÃº hamburguesa */
    .tarjetas {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 100%;
        margin: 0 auto;
        
        
        
    }
}  


@media screen and (max-width:768px) {
   .tarjetas { 
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 100%;
        margin: 0 auto;
        
}
        
}

@media screen and (max-width:700px) {
    .tarjetas { 
         display: grid;
         grid-template-columns: repeat(2,1fr);
         width: 100%;
         margin: 0 0;
         justify-content: space-evenly;
         
 }
         
 }

 @media screen and (max-width:425px) {
    .gridIndex { 
       display: grid;
       grid-template-columns: 100%;
         
 }
         
 }

 @media screen and (max-width:455px) {
    .tarjetas { 
         display: grid;
         grid-template-columns: repeat(1,1fr);
         width: 100%;
         margin: 0 0;
         justify-content: space-evenly;
         
 }
         
 }
 









































