* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 100px;
  padding: 0.625rem 0rem;
  background-color: rgb(119, 240, 240);
  justify-content: space-between;
}
header .logo img {
  height: 4.625rem;
  margin: 0.313rem;
}
header .nave {
  margin-top: 1.5rem;
  margin-right: 1rem;
}
header .nave .check {
  float: right;
  display: none;
}
header .bar-btn {
  float: right;
  color: blue;
  cursor: pointer;
}
header .bar-btn .ulIndex {
  display: inline-flex;
}
header .bar-btn .ulIndex a {
  color: white;
  padding-left: 1rem;
}

.navbar {
  margin-top: -85px;
}

.name {
  display: flex;
  height: 0rem;
  margin-bottom: -1rem;
  justify-content: space-around;
}
.name .fa-solid.fa-bars {
  font-size: 2rem;
}

@media screen and (min-width: 890px) {
  .bar-btn {
    display: none;
  }
}
@media screen and (max-width: 890px) {
  .ulIndex {
    flex-direction: column;
    align-items: center;
    background-color: red;
    width: 100%;
    margin-left: 897px;
    font-size: 4rem;
    position: absolute;
    z-index: 9;
    transition: all 0.5s;
  }
  .check:checked ~ ul.ulIndex {
    margin-left: 0px;
  }
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
body {
  font-family: "Quicksand", sans-serif;
}

.gridIndex {
  display: grid;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  justify-content: space-around;
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90wp;
  margin: 0 auto;
  background-color: rgb(33, 157, 189);
  padding: 1rem;
  padding-top: 3rem;
  border-radius: 0.313rem;
  justify-items: center;
}

.bdc .tarjetas .card {
  background-color: aliceblue;
  width: 10.875rem;
  height: 17.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 20.125rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 1.25rem;
  text-align: center;
  transition: all 0.25s;
}
.bdc .tarjetas .card .cart:hover {
  transform: translateX(4.062rem);
  opacity: 100%;
}
.bdc .tarjetas .card img {
  width: 10rem;
  height: 10rem;
}
.bdc .tarjetas .card h4 {
  font-weight: 1000;
  font-size: 1rem;
}
.bdc .tarjetas .card p {
  padding: 0 1rem;
  font-size: 10px;
  font-weight: 300;
  cursor: default;
}
.bdc .tarjetas .card .price {
  height: 56px;
  display: flex;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  color: #e5ff00;
  margin-top: -1.2rem;
  transition: all 0.25s;
  cursor: default;
  justify-content: center;
}
.bdc .tarjetas .card .cart {
  width: 173px;
  height: 278px;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 8px;
  font-size: 30px;
  color: rgb(253, 0, 0);
  position: absolute;
  /* cursor: default; */
  transition: all 0.5s;
  text-decoration: none;
  opacity: 0%;
}

.fa-solid, .fas {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

@media screen and (max-width: 890px) {
  .tarjetas {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=style.css.map */